.manContent {
  padding: 0 15px;
}

.manContent .manTitle {
  padding: 22px 0 20px 0;
}

.manContent .manTitle .kind {
  font-size: 16px;
  font-weight: 700;
}

.manContent .manTitle .moreList {
  float: right;
  font-size: 14px;
  color: #999;
}

.manContent .col2 {
  width: 100%;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.manContent .col2 .col2Wra {
  width: 49%;
  vertical-align: top;
  color: black;
  text-align: center;
  display: inline-block;
}

.manContent .col2 .col2Wra .col2Pic {
  width: 100%;
}

.manContent .col2 .col2Wra .col2Pic img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.col2Name, .novelPrice {
  font-size: 14px;
  margin-top: 8px;
  text-align: left;
}

.col2PrePrice {
  font-size: 12px;
  text-align: left;
  color: #a3a3a3;
}

.num {
  float: right;
  padding-right: 5px;
}

.price {
  color: #fe5500;
  font-size: 16px;
  text-align: left;
}

.price span {
  font-size: 12px;
}

.price em {
  font-size: 14px;
  font-style: normal;
  padding: 0 5px;
}

.coupon {
  display: inline-block;
  font-size: 9.6px;
  transform: scale(.8);
  -webkit-transform: scale(.8);
}

.col2Wra:nth-child(2n+1) {
  margin-right: 2%;
}

.weui-cells {
  margin-top: 0;
}

.page-infinite-wrapper {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

.weui-cells:before {
  border: 0 !important;
}

.gotop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 80px;
  right: 15px;
}

.gotop img {
  width: 100%;
}
